__pycache__/Calendar.cpython-38.pyc
__pycache__/Quickstart.cpython-39.pyc
__pycache__/Sheets.cpython-38.pyc
.idea/.gitignore
.idea/Meet-Attendance.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/profiles_settings.xml
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/codestyle.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.vscode/Backups/workspaces.json
.vscode/Cookies
.vscode/Cookies-journal
.vscode/languagepacks.json
.vscode/machineid
.vscode/Network Persistent State
.vscode/QuotaManager
.vscode/QuotaManager-journal
.vscode/settings.json
.vscode/storage.json
.vscode/TransportSecurity
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/bindings-607c52d3732792d428decd21f4de9b09.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/index-9d405f9ef747ded89053b077684b8e58.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/index-a9c45a059bb085a1e173bbe9993ad0d3.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/index-abba1e5364a80a222a4430d0cf9b2409.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/index-da78a8ae07f5f85ff0fbb6637c807a32.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/jsonfile-02b4051ae059e258e3906baabb961fd3.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/main-31dccf478d3fc2ca6ed94b01d084d91c.code
.vscode/CachedData/e7d7e9a9348e6a8cc8c03f877d39cb72e5dfb1ff/main.nls-b3f594d83f81566e6dcb44f969e3cfee.code
.vscode/CachedExtensions/builtin
.vscode/CachedExtensions/user
.vscode/User/globalStorage/state.vscdb
.vscode/User/globalStorage/state.vscdb.backup
.vscode/User/workspaceStorage/1631629806779/state.vscdb
.vscode/User/workspaceStorage/1631629806779/state.vscdb.backup
.vscode/logs/20210914T200005/main.log
.vscode/logs/20210914T200005/renderer1.log
.vscode/logs/20210914T200005/sharedprocess.log
.vscode/logs/20210914T200005/telemetry.log
.vscode/logs/20210914T200005/userDataSync.log
.vscode/logs/20210914T200005/exthost1/exthost.log
.vscode/logs/20210914T200005/exthost1/output_logging_20210914T200010/1-Microsoft Authentication.log
.vscode/logs/20210914T200005/exthost1/output_logging_20210914T200010/2-Git.log
.vscode/logs/20210914T200005/exthost1/output_logging_20210914T200011/3-GitHub Authentication.log
.vscode/logs/20210914T200005/output_1_20210914T200007/extensions.log
.vscode/logs/20210914T200005/output_1_20210914T200007/tasks.log
Profile.Result
credentials.json
token.json
